<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <header>
      <nav><a href="/">Read/Create Student |</a><a href="/update">Update Student |</a><a href="/delete"> Delete Student</a></nav>
      <button id="btn">Make List / Refrash</button>
      <form id="f" action="#">
        <fieldset>
          <input type="number" placeholder="ID Number" name="id">
          <input type="text" placeholder="Student Name" name="name">
          <input type="number" placeholder="Average Grade" name="avg">
        </fieldset>
        <button type="submit">Update Student</button>
      </form>
    </header>
    <main>
<div></div>
    </main>
    <script src="update.js"></script>
  </body>
</html>
